DEV_ENVIRONMENT=true
DATABASE_URL="postgresql://dbuser:dbuser_password@dbhost:dbport/dbname?schema=public"
PORT=8000
DOMAIN_NAME=".mydomain.com" # eg. .mydomain.com    NOTICE: the leading dot
SECRET_KEY="alsdflakdslfkasdlfkaldskfjalsdkfladskfj"


# mailing setup
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_EMAIL= "sampleemail@gmail.com"
SMTP_PASSWORD="vmmvdrydxohktdyz"
SMTP_SECURE_FLAG=true



# bucekt settings
AWS_REGION="your_aws_region"
AWS_ACCESS_KEY="your_aws_access_key"
AWS_SECRET_KEY="your_aws_secret_key"
AWS_BUCKET_NAME="your_aws_bucket_name"
